@mixin position($a,$b,$c,$d,$e){
    position: $a;
    #{$b}: $c;
    #{$d}: $e;
}

@mixin alineFlex($a,$b,$c,$d){
    display: flex;    
    #{$a}: $b;
    #{$c}: $d;    
}
@keyframes buger1{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(45deg);
    }
}
@keyframes buger2{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(-45deg);
    }
}

@mixin conH2($a){
    text-align: $a;
    font-size: 3.5em;
    text-transform: uppercase;
}
@mixin conLine($a){
    width: 70px; height: 2px;
    background-color: #333;
    display: block;
    margin: 40px $a 60px;
}
@mixin conDetail($a,$b){
    // white-space: pre-line;
    text-align: $a;
    font-size: $b;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -2px;
    line-height: 1.5;
}

@keyframes skils{
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}