@import '_mixin.scss';
@import '_common.scss';

.con01{
    width: 100%;
    background: url("../img/list/title.jpg") no-repeat center center;
    background-size: 100%;
    height: 540px;
    @include alineFlex(justify-content,center,align-items,center);     
    flex-direction: column;
    h2{
        @include conH2(center);
        color: #eee;
        z-index: 1;
    }
    span{
        @include conLine(auto);
        background-color: #eee;
        z-index: 1;
    }
    h3{
        @include conDetail(center,1.8em);  
        color: #eee;
        font-weight: 300;
        z-index: 1;
    }
    &::before{
        content: '';
        background: rgba($color: #000000, $alpha: 0.8);
        width: 100%; height: 540px;
        @include position(absolute,top,0,left,0);    
    }
}
.con02{
    padding: 150px 0;
    .btn{
        @include alineFlex(justify-content,center,align-items,center);
        margin-bottom: 100px;
        li{
            display: inline-block;
            width: 300px;
            line-height: 75px;
            text-align: center;
            margin: 0 10px;
            text-transform: uppercase;
            border: 2px solid #333;
            border-radius: 15px;
            font-size: 2em;
            &.active{
                background: #333;
                font-weight: bold;
                color: #eee;
                letter-spacing: 2px;
                border: none;
            }
        }
    }
    .list{
        @include alineFlex(justify-content,center,align-items,center);
        li{
            display: inline-block;
            width: 406px; height: 280px;
            text-align: center;
            margin: 0 10px;
            border: 1px solid #eee;
            position: relative;
            overflow: hidden;
            a{
                content: '';
                background: rgba($color: #000000, $alpha: 0.6);
                width: 100%; height: 280px;
                @include position(absolute,top,0,left,0);  
                display: none;
            }
            a.active{
                @include alineFlex(justify-content,center,align-items,center);
            }
            .thumnail{width: 100%;}
            
        }
    }
}